.bonus__page
    .banner
        .banner__text Welcome  <br> bonus #[span *] <br> up to <br> #[span 200 000 ₴ <br> to the deposit ] <br> #[span + 300 FS]  #[span without wagering ]
        .banner__date The promotion period is from 02.01.2024 to 31.12.2024
    .casino
        .casino__info
            h2.casino__info-title #[span How to take] part?
            .casino__info-wrap
                .casino__info-item
                    .casino__info-img
                        img(src="./img/cube1.png" alt="casino.ua")
                    .casino__info-text Register
                .casino__info-item
                    .casino__info-img
                        img(src="./img/cube2.png" alt="casino.ua")
                    .casino__info-text #[span Make a deposit] <br> The minimum deposit to activate the Welcome Bonus is 150₴
                .casino__info-item
                    .casino__info-img
                        img(src="./img/cube3.png" alt="casino.ua")
                    .casino__info-text Activate the available bonus when making the deposit
                .casino__info-item
                    .casino__info-img
                        img(src="./img/cube4.png" alt="casino.ua")
                    .casino__info-text Get a 100% bonus <br> #[span for the first 6 <br> different deposits] (from 150 to 2000₴) and free spins without wagering
        .casino__bonus
            h2.casino__bonus-title #[span Deposit] bonus
            .tableBonus
                .tableBonus__head
                    .tableBonus__head-col Deposit
                    .tableBonus__head-col % to the deposit
                    .tableBonus__head-col Wager
                    .tableBonus__head-col Potential <br> bonus
                .tableBonus__body
                    .tableBonus__row
                        .tableBonus__body-col 2000₴
                        .tableBonus__body-col 100%
                        .tableBonus__body-col x35
                        .tableBonus__body-col 50 000₴
                    .tableBonus__row
                        .tableBonus__body-col 1000₴
                        .tableBonus__body-col 100%
                        .tableBonus__body-col x35
                        .tableBonus__body-col 40 000₴
                    .tableBonus__row
                        .tableBonus__body-col 500₴
                        .tableBonus__body-col 100%
                        .tableBonus__body-col x35
                        .tableBonus__body-col 35 000₴
                    .tableBonus__row
                        .tableBonus__body-col 300₴
                        .tableBonus__body-col 100%
                        .tableBonus__body-col x35
                        .tableBonus__body-col 30 000₴
                    .tableBonus__row
                        .tableBonus__body-col 200₴
                        .tableBonus__body-col 100%
                        .tableBonus__body-col x35
                        .tableBonus__body-col 25 000₴
                    .tableBonus__row
                        .tableBonus__body-col 150₴
                        .tableBonus__body-col 100%
                        .tableBonus__body-col x35
                        .tableBonus__body-col 20 000₴
                    .tableBonus__row
                        .tableBonus__body-col 200 000₴
        .casino__spins
            h2.casino__spins-title #[span Free spins] to <br> the deposit #[span from 150₴]
            .tableSpins
                .tableSpins__head
                    .tableSpins__head-col Deposit
                    .tableSpins__head-col Free spins

                .tableSpins__body
                    .tableSpins__body-row
                        .tableSpins__body-col >350₴
                        .tableSpins__body-col 100 FS
                    .tableSpins__body-row
                        .tableSpins__body-col 301₴ - 350₴
                        .tableSpins__body-col 80 FS
                    .tableSpins__body-row
                        .tableSpins__body-col 251₴ - 300₴
                        .tableSpins__body-col 60 FS
                    .tableSpins__body-row
                        .tableSpins__body-col 201₴ - 250₴
                        .tableSpins__body-col 40 FS
                    .tableSpins__body-row
                        .tableSpins__body-col 150₴ - 200₴
                        .tableSpins__body-col 20 FS
                    .tableSpins__body-row
                        .tableSpins__body-col 300 FS
            a(href="/personal-office/balance/deposit/" target="_blank" role="button").casino__btn
                .casino__btn-text Deposit
                .casino__btn-dots
        .rules
            details.rules__wrap
                summary.rules__btn
                    span офіційні правила акції "вітальний бонус"
                ul.rules__list
                    li.rules__list-item 1. Пропозиція доступна тільки для нових клієнтів <br> Новий клієнт компанії – це унікальний користувач, чиї дані ніколи не були зареєстровані в компанії. У тому числі дані платіжних систем, телефонів, IP. У разі, якщо клієнт був заблокований і створив новий обліковий запис – компанія залишає за собою право відмовити в бонусі.
                    li.rules__list-item 2. За період акції клієнт компанії може отримати один бонус «Ставка без ризику до 500 грн і + 100% за депозит» за реєстрацію – 50% від суми депозиту за ставки на спорт і 50% суми депозиту за гру в казино.
                    li.rules__list-item 3. Мінімальна сума депозиту для участі в акційній пропозиції – 200 грн. У разі, якщо перший депозит менше ніж 200 грн, то клієнт отримує тільки бонус «Ставка без ризику» до 500 грн.
                    li.rules__list-item 4. Протягом 10 днів з моменту реєстрації поповніть рахунок на суму від 200 грн одним платежем і отримаєте 100% від суми депозиту до 2000 грн і бонус «Ставка без ризику» до 500 грн. Якщо сума першого поповнення рахунку менше ніж 200 грн, клієнт отримає тільки бонус «Ставка без ризику» до 500 грн. Депозитні бонуси в такому випадку не передбачені.
                    li.rules__list-item 5. Погоджуючись з цими Правилами, Учасник підтверджує, що ознайомлений з правилами Організатора, Бонусною політикою, Політикою конфіденційності, а також усвідомлює, що повинен дотримуватись принципів відповідальної гри, що розміщені на сайті Організатора азартних ігор www.casino.ua.
                    li.rules__list-item 6. Акція проводиться по всій території України, крім Автономної Республіки Крим і тимчасово окупованих територій України
                    li.rules__list-item 7. Місцем проведення акції є веб-сайт www.casino.ua.
                    li.rules__list-item 8. Акція проводиться у період з 02.01.2023 року по 31.12.2024 року.
                    li.rules__list-item 9. Порядок участі в акції «Вітальний бонус» (надалі – Акція):
                    li.rules__list-item.sub-item 9.1 За умовами даної Акції, Учаснику необхідно поповнити свій ігровий рахунок,  здійснивши перший депозит від 150 UAH. Поповнення від вказаної у нижчезазначеній таблиці суми, активує один з бонусних пакетів, які будуть доступні Учаснику в межах акції «Вітальний бонус» (надалі – Бонусні пакети), а саме:
                    .table-container
                        table
                            thead
                                tr
                                    th Сума депозиту
                                    th Бонус до депозиту у відсотках
                                    th Вейджер
                                    th Максимально можлива сума бонусу у вигляді електронних грошових замінників
                            tbody
                                tr
                                    td Від 150
                                    td 100%
                                    td Х40
                                    td 20 000
                                tr
                                    td Від 200
                                    td 100%
                                    td Х40
                                    td 25 000
                                tr
                                    td Від 300
                                    td 100%
                                    td Х40
                                    td 30 000
                                tr
                                    td Від 500
                                    td 100%
                                    td Х40
                                    td 35 000
                                tr
                                    td Від 1000
                                    td 100%
                                    td Х40
                                    td 40 000
                                tr
                                    td Від 2000
                                    td 100%
                                    td Х40
                                    td 50 000
                    li.rules__list-item.sub-item 9.2 При поповненні депозиту від мінімально зазначеної в таблиці  п.9.1. суми, Учасник має можливість активувати 1 (один) із запропонованих Організатором Бонусних пакетів, з бонусом у вигляді 100% до депозиту.
                    li.rules__list-item.sub-item 9.3 Якщо з моменту реєстрації,  перше поповнення ігрового рахунку Учасника було менше зазначених сум в таблиці п.9.1, тоді такий Учасник може активувати Бонусні пакети будь-яким іншим депозитом від мінімально зазначеного у п.9.1, протягом 5 (п’яти) днів з моменту реєстрації особистого кабінету на www.casino.ua. (надалі – Особистий кабінет).
                    li.rules__list-item.sub-item 9.4 Після того, як Учасник обрав та активував доступний йому Бонусний пакет, для зарахування коштів на Баланс до виплати, необхідно протягом наступних 5 (п’яти) днів, натиснувши кнопку «Старт», розпочати відіграш бонусу відповідно до вказаних правил та умов активованого Бонусного пакету. Всі деталі кожного окремого Бонусного пакету будуть доступні Учаснику в Особистому кабінеті у розділі «Бонуси».
                    li.rules__list-item.sub-item2 9.4.1 Якщо Учасник не прийняв нарахований бонус у зазначений в 9.4 термін, він втрачає право на отримання такого бонусу.
                    li.rules__list-item.sub-item 9.5 Для відіграшу отриманого бонусу, в будь-якому доступному Бонусному пакеті, Учаснику необхідно здійснити оберти ставок виключно в розділі «Казино» на суму в х40 разів більшу від суми потенційного бонусу, протягом 5 (п’яти) днів з моменту натискання кнопки «Старт».
                    li.rules__list-item.sub-item2 9.5.1 Для відіграшу бонусу, максимальна сума ставки в іграх розділу «Казино»– 100 UAH;
                    li.rules__list-item.sub-item2 9.5.2 Ставки в розділах «Казино LIVE» та «Швидкі ігри» -  не враховуються до відіграшу.

                    li.rules__list-item.sub-item 9.6 Відіграш отриманого бонусу відбувається за кошти з Основного балансу Гравця, які доступні до виплати. Однак, якщо в процесі відіграшу Баланс до виплати сягає 0 UAH - відіграш продовжується на кошти з Бонусного балансу.
                    li.rules__list-item.sub-item2 9.6.1 Якщо ж і Баланс до виплати, і Бонусний баланс матимуть нульове значення, Учасник матиме можливість поповнити клієнтський рахунок та продовжити відіграш активованого бонусу.

                    li.rules__list-item.sub-item 9.7 У випадку якщо під час відіграшу бонусу Гравець оформлює заявку на вивід коштів з Балансу до виплати, відігруваний бонус буде скасовано, а кошти, зараховані на Бонусний баланс (від такого відігруваного бонусу) – анулюються.
                    li.rules__list-item.sub-item 9.8 Максимально доступна сума, яка буде відображена на Бонусному балансі гравця – х3 від суми потенційного бонусу. Наприклад: при поповненні клієнтського рахунку на суму в 200 UAH, максимальна сума, яка буде відображена на Бонусному балансі – 600 UAH (200*3 = 600).
                    li.rules__list-item.sub-item 9.9 За умовами даної Акції, в кожному Бонусному пакеті, при поповненні від нижчезазначених у таблиці сум, Учаснику також будуть доступні Фріспіни без відіграшу, а саме:
                    .table-container
                            table
                                thead
                                    tr
                                        th Кількість Фріспінів
                                        th Необхідний депозит для активації
                                        th Ігри в яких Фріспіни будуть доступні до використання
                                tbody
                                    tr
                                        td 20
                                        td від 150 до 200
                                        td «More magic apple» від провайдера 3 Oaks
                                    tr
                                        td 40
                                        td від 201 до 250
                                        td «Coin Strike: Hold and Win» від провайдера Playson
                                    tr
                                        td 60
                                        td від 251 до 300
                                        td «Sun of Egypt 3» від провайдера 3 Oaks
                                    tr
                                        td 80
                                        td від 301 до 350
                                        td «Royal Coins 2: Hold and Win» від провайдера Playson
                                    tr
                                        td 100
                                        td від 351
                                        td «Sun of Egypt 2» від провайдера 3 Oaks
                    li.rules__list-item.sub-item 9.10 Після поповнення депозиту від мінімально зазначеної в таблиці п.9.9 суми,  отримані Фріспіни необхідно буде прийняти протягом наступних 3 (трьох) днів, натиснувши кнопку «Прийняти». Якщо Учасник не прийняв нараховані Фріспіни у зазначений термін, він втрачає право на отримання цього бонусу.
                    li.rules__list-item.sub-item 9.11 Після натискання вищезазначеної кнопки, отримані Фріспіни автоматично будуть доступні до використання в іграх від провайдерів, що зазначені в таблиці п.9.9 цих Правил. Всі детальні умови зарахування Фріспінів, будуть доступні Учаснику в Особистому кабінеті, в розділі «Бонуси – Фріспіни».
                    li.rules__list-item.sub-item2 9.11.1 Вартість одного Фріспіна – 1 (одна) гривня.
                    li.rules__list-item 10 Моментом передачі призу в Акції, вважається фактичне прийняття бонусів Учасником в Особистому кабінеті в терміни згідно з п.9.4 та 9.10  відповідних Правил
                    li.rules__list-item 11 Оподаткування осіб, які отримали приз, проводиться відповідно до чинного законодавства України у момент здійснення виплати виграшу Організатором. Під виплатою розуміється фінансова операція з виплати грошових коштів на банківський рахунок гравця, з якого було здійснено депозит.
                    li.rules__list-item 12 Доходи, зазначені у п. 11, остаточно оподатковуються під час їх виплати на рахунок осіб, які отримали приз, а Організатор є податковим агентом та утримує з кожної виплати виграшу (призу) податки та збори згідно з Податковим кодексом України та перераховує їх до відповідного бюджету.
                    li.rules__list-item 13 Дані правила можуть бути змінені/доповнені Організатором протягом всього періоду проведення Акції, при цьому інформування відносно змін і доповнень буде здійснено шляхом розміщення оновленої редакції Правил на сайті. Такі зміни та доповнення вступають в силу з моменту опублікування, якщо інше не буде передбачено чинною редакцією офіційних правил.
                    li.rules__list-item 14 Беручи участь в Акції, Учасник висловлює свою згоду з даними Правилами, Правилами Організатора та Бонусною політикою, тим самим зобов'язується дотримуватися їх і керуватися ними у взаєминах з Організатором Акції та іншими Учасниками. Учасник Акції, який не дотримується Правил Акції, може втратити статус Учасника і не має права на одержання від Організатора будь-якої компенсації.
                    li.rules__list-item 15 Якщо на момент оголошення переможців за результатом проведення Акції Учасником було встановлено персональний ліміт на ігрову діяльність шляхом підключення функції «САМОВИКЛЮЧЕННЯ» на веб-сайті Організатора, такий Учасник втрачає своє право на отримання призу в Акції.
                    li.rules__list-item 16 З усіх додаткових питань, що стосуються Акції, Учасники можуть звертатися до служби підтримки за вказаними контактами у відповідному розділі на сайті www.casino.ua.


